/**
 * https://www.google.com/design/spec/style/color.html#color-themes
 */
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	background-color: #303030;
	color: rgba(255, 255, 255, 0.5);
}

#gui {
	padding: 10px;
	background: #424242;
	color: #FFF;

	  border-radius: 2px;
	  display: block;
	  margin: 0 auto;
	  position: relative;
	  width: 300px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

#title {
	margin-bottom: 10px;
}

#time {
	text-align: center;
}

#trackbar {
	width: 0;
	max-width: 100%;
	height: 10px;
	background-color: blue;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

#player {
	display: none;
}

#controls {
	text-align: center;
	height: 50px;
	line-height: 50px;
	white-space: nowrap;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

#controls > i {
	cursor: pointer;
	vertical-align: middle;
}

#play {
	font-size: 50px;
}


#prev {
	float: left;
	font-size: 40px;
}

#next {
	float: right;
	font-size: 40px;
}

.material-icons {
	line-height: 50px;
}

